<!doctype html>
<html ng-app="wowApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <script src="index.js"></script>
    <link href="front.css" rel="stylesheet" />
</head>
<body>
<div ng-controller="WoWLootsController" class="container-fluid">
    <div class="row">
        <div class="col-md-3 scroll">
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="character in characters">
                    <td><img ng-src="{{character.iconUrl}}"/></td>
                    <td style="vertical-align: middle;" class="name" ng-style="character.color">{{character.name}}</td>
                    <td style="vertical-align: middle;">
                        <button class="btn" ng-click="selectCharacter(character)">
                            <span class="glyphicon glyphicon-list"></span>  Loots
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-9">
            <div class="form-inline filter">
                Filtre :
                <select class="form-control" ng-model="ilvlFilter" ng-options="option.display for option in ilvlFilterOptions
                track by option.value">

                </select>
            </div>
            <div class="title" ng-hide="selectedCharacter == null">Loots of {{selectedCharacter.name}}</div>
            <div class="loots">
                <div class="loot" ng-repeat="loot in loots" ng-show="loot.ilvl >= ilvlFilter.value ">
                    <span class="loot-date">{{loot.timestamp | moment:'DD/MM'}}</span>
                    <span class="loot-details">
                        <a target="_blank" ng-href="{{loot.wowheadLink}}" class="q{{loot.quality}}"><img ng-src="{{loot.icon}}"/> {{loot.name}}</a>
                    </span>
                    <span ng-show="!loot.sure">(incertain)</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>