.table-hover tbody tr:hover td {background-color: #282828;}
.table-hover tbody {background: #404040;}
.table-hover td {font-family: verdana;}
.table-hover td img {width: 40px; height: 40px;}
.name {font-size: 17px;}
.scroll {overflow-y: auto; height: 700px; margin-top: 10px;}
.filter {margin-top: 10px; margin-left: 40px;}
.title {margin-top: 10px; margin-left: 40px; font-size: 25px; font-weight: bold;}
.loots {margin-top: 5px; margin-left: 40px; height: 615px; width: 600px; overflow-y: auto;}
.loot {margin-top: 10px;}
.loot-date {font-weight: bold;}
.loot-details {margin-left: 15px; font-weight: bold;}
.loot-details a {text-decoration: none;}