var Parameters = function(){};

Parameters.prototype.WoW = {
	'baseUrl': 'http://eu.battle.net/api/wow/',
	'fields': ['news'],
	'locale': ['fr_FR'],
	'guild': 'On en Aggrø',
	'realm': 'Hyjal',
	'apikey': '*********',
	'minIlvl': 600
};

Parameters.prototype.Slack = {
	'hook':'xxxxx'
};

module.exports = new Parameters();